form(action=(ArcadeGame ? `/ArcadeGames/update` : "/ArcadeGames"), method="POST")
  if ArcadeGame
    input(type="hidden", name="id", value=ArcadeGame.id)

  .form-group
    label Title
    input.form-control(name="ArcadeGame[title]", required, value=(ArcadeGame ? ArcadeGame.title : null))

  .form-group
    label Content
    textarea.form-control(name="ArcadeGame[content]")
      = ArcadeGame ? ArcadeGame.content : null
  
  .form-group
    button.btn.btn-dark(type="submit") Submit