extends ../layouts/main.pug
block content
  .container
    header
      h1= ArcadeGame.title
      small= ArcadeGame.status.toLowerCase()

    div
      = ArcadeGame.content || "Your story is processing..."